
  <app-blog-layout>
    <div class="container my-5 blog-post">
      <!-- Título do Post -->
      <h1 class="display-5 fw-bold mb-3">{{ post?.title }}</h1>
      
      <!-- Informações sobre o autor e data -->
      <div class="post-meta text-muted mb-4">
        <span class="me-2">Escrito por <strong>{{ post?.autor }}</strong></span>
        |
        <span class="ms-2">Publicado em {{ post?.data | date: 'd' }} de {{ post?.data | date: 'MMMM' }} de {{ post?.data | date: 'yyyy' }}</span>
      </div>
      
      <!-- Categoria do Post -->
      <div class="post-category bg-light p-2 rounded-3 d-inline-block mb-4">
        <h5 class="mb-0 text-primary">{{ post?.category }}</h5>
      </div>
      
      <!-- Conteúdo do Post -->
      <!-- Conteúdo do Post -->
      <div class="post-content">
        <p class="fs-5 lh-lg" [innerHTML]="post?.content"></p>
      </div>

    </div>
    
  </app-blog-layout>