<app-blog-layout>

    <div class="about-container">
        <div class="about-header">
            <h1>Sobre Mim</h1>
            <p>Conheça um pouco mais sobre minha jornada, experiências e paixões.</p>
        </div>
        <div class="about-content">
            <div class="about-image">
                <img src="https://via.placeholder.com/200" alt="Minha Foto">
            </div>
            <div class="about-text">
                <h2>Quem Sou Eu?</h2>
                <p>Olá! Meu nome é Guilherme Berson, sou um desenvolvedor sênior especializado em aplicações móveis (Android/iOS) e apaixonado por tecnologia e inovação. Com anos de experiência na área, ajudo empresas a criar soluções digitais que impactam positivamente a vida das pessoas.</p>
                <h2>Minhas Experiências</h2>
                <p>Atualmente, trabalho na <strong>Zup Innovation</strong>, onde participo de projetos desafiadores e ajudo a impulsionar o desenvolvimento de produtos digitais de ponta. Além disso, estou me especializando em Inteligência Artificial, ampliando meu conhecimento sobre aprendizado de máquina e soluções baseadas em dados.</p>
                <h2>Vamos Conversar?</h2>
                <p>Estou sempre aberto a novas oportunidades, colaborações e discussões sobre tecnologia. Entre em contato comigo por meio da <a [routerLink]="['/blog/contacts']">página de contato</a>.</p>
            </div>
        </div>
    </div>
    

</app-blog-layout>